<!DOCTYPE html>
<html lang="">
  <head>
    {% block head %}
    <title>{% block title %}{% endblock %} - {{config.title}}</title>
    <meta charset="utf-8" />
    <meta name="author" content="{{config.author}}" />
    <meta name="description" content="{% block description %}{% endblock %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% for relme_site in config.extra.rel_me -%}
    <link rel="me" href="{{relme_site|safe}}" />
    {% endfor -%}
    {% if config.extra.google_verify -%}
    <meta
      name="google-site-verification"
      content="{{ config.extra.google_verify |safe }}"
    />
    {% endif -%}
    {% block opengraph -%}{% set image = resize_image(path="/images/site-image.jpg", width=600, height=315, op="fit") -%}
    {% block opengraph_extra -%}{% endblock -%}
    <meta property="og:title" content="{{config.title}}" />
    <meta property="og:description" content="{{config.description}}" />
    <meta property="og:site_name" content="{{config.title}}" />
    <meta property="og:locale" content="{{config.default_language}}" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{{image.url|safe}}" />
    {% endblock -%}

    <!-- Add to homescreen -->
    <link rel="manifest" href="/manifest.json" />

    <!-- Fallback to homescreen for Chrome <39 on Android -->
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="application-name" content="{{config.title}}" />
    <link
      rel="icon"
      sizes="192x192"
      href="/images/touch/chrome-touch-icon-192x192.png"
    />

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-title" content="{{config.title}}" />
    <link rel="apple-touch-icon" href="/images/touch/apple-touch-icon.png" />

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta
      name="msapplication-TileImage"
      content="/images/touch/ms-touch-icon-144x144-precomposed.png"
    />
    <meta name="msapplication-TileColor" content="#3372DF" />

    <meta name="theme-color" content="#3372DF" />

    <!-- Atom feed -->
    <link
      rel="alternate"
      type="application/atom+xml"
      title="{{config.title}}"
      href="{{ get_url(path="atom.xml", trailing_slash=false) }}"
    />

    <!-- Page styles -->
    {% block css %}
    <link rel="stylesheet" href="/main.css" />
    <link href="/fontawesome/css/fontawesome.css" rel="stylesheet" />
    <link href="/fontawesome/css/brands.css" rel="stylesheet" />
    <link href="/fontawesome/css/solid.css" rel="stylesheet" />
    {% endblock %}
    {% block extra_css %}{% endblock %} {% endblock head %}
  </head>
  <body class="{% block body_class %}{% endblock %}">
    {% block body %}
    <header class="app-bar promote-layer">
      <div class="app-bar-container">
        <button class="menu">
          <img src="/images/hamburger.svg" alt="Menu" />
        </button>

        <h1 class="logo">
          <a href="/"><img src="/images/logo.svg" />{{config.title}}</a>
        </h1>
        <section class="app_bar_actions">
          <!-- Put App Bar Buttons Here -->
          <!-- e.g <button><i class="icon icon-star"></i></button> -->
          {% block app_bar_actions %} {% endblock %}
        </section>
      </div>
    </header>

    <nav class="navdrawer-container promote-layer">
      <h4>Navigation</h4>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/posts/">Presentations</a>
        </li>
        <li>
          <a href="//www.maungawhau.net.nz/">Maungawhau IT Home</a>
        </li>
        <li>
          <a href="/atom.xml"><i class="fa fa-rss" aria-hidden="true"></i></a>
        </li>
      </ul>
    </nav>

    <div class="clear"></div>
    <main>
      {% block main %}
      <section class="container">
        <h2>{% block content_title %}{% endblock %}</h2>
        <div>{% block content %}{% endblock %}</div>
      </section>
      {% endblock %}

      <div class="clear"></div>
      <footer class="centre">
        <p class="small">
          &copy; Copyright 2014-{{now() | date(format="%Y")}} Maungawhau
          Information Technology Ltd. All rights reserved.
        </p>
      </footer>
    </main>
    {% endblock %}
    <script src="/scripts/main.js"></script>
    {% block javascript %}{% endblock %}
    <!-- Built with love using Web Starter Kit -->
  </body>
</html>
