{% extends "base.html" %} {% block title %}Home{% endblock %} {% block
content_title %}{% endblock %} {% block description %}{% endblock %} {% block
body_class %}{% endblock %}
{% block content %}
<h2>Opinions for all occasions!</h2>

<p>
	This is the place to find the slides for presentations we have given.
</p>

<div class="blog_excerpt">
  {% for section_name in ["posts/_index.md"] %} {% set
  section = get_section(path=section_name) %}
  <h2>Recent {{section.title}}</h2>
  {% for page in section.pages %} {% if loop.index > 3 %}{% break %}{% endif %}
  <article class="g--third {% if loop.index %3 == 0 %}g--last{% endif %}">
    {% include "partial/snippet.html" %}
  </article>
  {% endfor %}
  {% endfor %}
</div>
</section>

{% endblock main %}
