{% extends "base.html" %}
{% block title %}{{page.title|title}}{% endblock %}
{% block content_title %}{{page.title|title}}{% endblock %}
{% block description %}{{page.description}}{% endblock %}
{% block body_class %}{{page.slug}}{% endblock %}
{% block opengraph -%}
  <meta property="og:type" content="article" />
  <meta property="og:url" content="{{page.permalink|safe}}" />
  <meta property="og:title" content="{{page.title}}" />
  {% if page.description -%}
  <meta property="og:description" content="{{page.description}}" />
  {% endif -%}
  {% if page.extra.image -%} {% set image = resize_image(path=page.extra.image, width=600, height=315, op="fit") %}
  <meta property="og:image" content="{{image.url|safe}}" />
  {% endif -%}
  {% if page.extra.image_caption -%}
  <meta property="og:image:alt" content="{{page.extra.image_caption}}" />
  {% endif -%}
  {% if page.author -%}
  <meta property="og:article:author" content="{{page.author}}" />
  {% endif -%}
  {% if page.date -%}
  <meta property="og:article:published_time" content="{{page.date}}" />
  {% endif -%}
  {% if page.updated -%}
  <meta property="og:article:modified_time" content="{{page.updated}}" />
  {% endif -%}
{% endblock -%}

{% block content -%}
<article class="post">
  <header>
    {% if page.description %}
    <em>{{page.description}}</em>
    {% endif %}
    {% if page.extra.client %}
    <p class="medium">
      Client: {{page.extra.client}}, {{page.extra.start|date(format="%B %Y")}}
      {% if page.extra.end %} to {{page.extra.end|date(format="%B %Y")}}{% endif %}
    </p>
    {% elif page.date %}
    <p class="published small">
      By {% if page.author %}{{page.author}}{% else %}{{config.author}}{% endif %}
      on {{page.date|date(format="%B %d, %Y")}}
    </p>
    {% endif %}
    {% include "partial/tags.html"%}
    {% if page.extra.share %}{% include "partial/social.html"%}{% endif %}
  </header>
  <div class="content">{{page.content|safe}}</div>
</article>

{% endblock %}
