{% extends "base.html" %}
{% block title %}{{page.title|title}}{% endblock %}
{% block content_title %}{{page.title|title}}{% endblock %}
{% block description%}{{page.description}}{% endblock %}
{% block body_class %}{{page.slug}}{%endblock %}
{% block css %}
	<link rel="stylesheet" href="/vendor/reveal/css/reveal.min.css">
	<link rel="stylesheet" href="/vendor/reveal/css/theme/night.css" id="theme">
  <link href="/fontawesome/css/fontawesome.css" rel="stylesheet" />
  <link href="/fontawesome/css/brands.css" rel="stylesheet" />
  <link href="/fontawesome/css/solid.css" rel="stylesheet" />

	<!-- Code syntax highlighting -->
	<link rel="stylesheet" href="/vendor/reveal/lib/css/zenburn.css">
	<!-- Printing and PDF exports -->
	<script>
		var link = document.createElement( 'link' );
		link.rel = 'stylesheet';
		link.type = 'text/css';
		link.href = window.location.search.match( /print-pdf/gi ) ? '/vendor/reveal/css/print/pdf.css' : '/vendor/reveal/css/print/paper.css';
		document.getElementsByTagName( 'head' )[0].appendChild( link );
	</script>
{% endblock %}

{% block body %}
		<div class="reveal">
			<div class="slides">
				{% block content %}
        {% if page.extra.slides %}
        {% set raw_slide = load_data(path="@/" ~ page.path ~ page.extra.slides , required=true) %}
				{{ raw_slide|safe }}
        {% else %}
        <section data-markdown>
          # No slides found
        </section>
        {% endif %}
				{% endblock %}
			</div>
		</div>

		<script src="/vendor/reveal/lib/js/head.min.js"></script>
		<script src="/vendor/reveal/js/reveal.min.js"></script>

		{% block config %}
		<script>
			// Full list of configuration options available at:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				transition: 'slide', // none/fade/slide/convex/concave/zoom

				// Optional reveal.js plugins
				dependencies: [
					{ src: '/vendor/reveal/lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: '/vendor/reveal/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: '/vendor/reveal/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: '/vendor/reveal/plugin/highlight/highlight.js', async: true, condition: function() { return !!document.querySelector( 'pre code' ); }, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: '/vendor/reveal/plugin/zoom-js/zoom.js', async: true },
					{ src: '/vendor/reveal/plugin/notes/notes.js', async: true }
				]
			});
		</script>
		{% endblock %}

{% endblock %}
