{% extends "base.html" %}

{% block title %}{{taxonomy.name|title}}{% endblock %}
{% block content_title %}{{taxonomy.name|title}}{% endblock %}
{% block description %}{% endblock %}
{% block body_class %}taxonomy-{{taxonomy.name}}{% endblock %}

{% block content %}
<ul>
{% for term in terms %}
<li>
  <a href="{{term.slug}}">{{term.name}}</a>
</li>
{% endfor %}
</ul>
{% endblock %}
