<div class="snippet container">
  <header class="g-wide--full g-medium--full">
    <p class="medium">
      <a href="{{page.permalink|safe}}">{{page.title}}</a>
    </p>
  </header>

  {% if page.extra.image -%}
  {% set image = resize_image(path=page.extra.image, width=100, op="fit_width") %}
  <img
    class="g--full g--centered"
    src="{{image.url}}"
    alt="{{page.extra.image_caption}}"
    title="{{page.extra.image_caption}}"
  />
  {% endif %}
  <span class="base"> {{page.date|date(format="%B %d, %Y")}} </span>
  {% include "partial/tags.html"%}
  <p>
    {% if page.summary -%}{{page.summary|safe}}{% else
    %}{{page.content|truncate(length=500)|safe}}{% endif %}
    <a class="small" href="{{page.permalink|safe}}">Read more...</a>
  </p>
</div>
