<span class="social-share">
  <ul>
    <li><a href="https://mastodonshare.com/?text={{page.description}}&url={{page.permalink}}" title="Share to Mastodon" target="_blank"><i class="fa-inverse fa-brands fa-mastodon"></i></a></li>
      <li><a href="https://www.facebook.com/sharer/sharer.php?u={{page.permalink}}" title="Share on Facebook" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
      <li><a href="https://twitter.com/intent/tweet?url={{page.permalink}}&text={{page.description}}" title="Share on Twitter" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
      <li><a href="https://www.linkedin.com/shareArticle?mini=true&url={{page.permalink}}&title=&summary={{page.description}}" title="Share on LinkedIn" target="_blank"><i class="fa-brands fa-linkedin"></i></a></li>
  </ul>
</span>
