{% for name, terms in page.taxonomies %}
<p class="small">
  <a href="{{ get_url(path=name, trailing_slash=false) }}">{{ name|title}}</a>:
  {% for term in terms %}
  {% set tag_path = name ~ "/" ~ term %}
  <a href="{{ get_url(path=tag_path, trailing_slash=false) }}">{{term}}</a>{% if not loop.last %} / {% endif %}
  {% endfor %}
</p>
{% endfor %}
